@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 67.5%;
  line-height: 1.5;
  background-color: #fff; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  transition: all 0.5s ease-out; }
  .btn-primary {
    background-color: #5aa4d1;
    color: #fff; }
    .btn-primary:hover {
      background-color: #96c5e1; }
  .btn-invert {
    background-color: #fff;
    color: #5aa4d1; }
  .btn-danger {
    background-color: red;
    color: #fff; }
  .btn-sm {
    font-size: 1rem;
    padding: 0.3rem 0.6rem; }

header {
  background-color: black;
  width: 100%;
  height: 100vh; }
  header .title-text-box {
    color: white;
    position: absolute;
    top: 45%;
    left: 10%;
    z-index: 2;
    font-size: 3.5rem; }
  header .campground-cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  z-index: 0; }
  .bg:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 1; }

.menu {
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  color: #fff; }
  .menu i {
    font-size: 2rem; }
  .menu .menu-nav {
    display: flex;
    align-items: center; }
    .menu .menu-nav .nav-link {
      color: #fff;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-left: 1rem;
      font-weight: 700;
      padding: 0.6rem 0.8rem;
      border-radius: 4px;
      transition: all 0.5s ease-out; }
      .menu .menu-nav .nav-link:hover {
        background-color: #aad0e7;
        color: #2b709a; }

#menu-dark {
  background-color: #378dc1;
  padding: 1rem 2rem;
  max-width: 100vw; }

.section-campgrounds {
  position: relative;
  z-index: 20;
  background-color: white;
  color: black;
  padding: 5rem;
  text-align: center; }
  .section-campgrounds img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    opacity: 1;
    transform: scale(1.15);
    transform-origin: bottom;
    height: 20rem;
    object-fit: cover;
    transition: all 0.5s ease-out; }
    .section-campgrounds img:hover {
      opacity: 0.8;
      transform: scale(1.03); }
  .section-campgrounds h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-transform: uppercase; }
    .section-campgrounds h1:after {
      display: block;
      content: '';
      width: 10rem;
      height: 0.2rem;
      background-color: black;
      margin: 1rem auto; }
  .section-campgrounds p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem; }
  .section-campgrounds .right-align {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem; }
  .section-campgrounds .campgrounds {
    display: grid;
    max-width: 120rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 auto; }
    .section-campgrounds .campgrounds .col-1-of-3 {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      overflow: hidden; }
      .section-campgrounds .campgrounds .col-1-of-3 h3 {
        margin-top: 0.8rem;
        font-size: 2rem; }

.container {
  max-width: 90rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem 2rem; }

.text-primary {
  font-size: 3rem;
  color: #4799cb; }

.lead {
  font-size: 1.5rem;
  margin-left: 0; }

.form .form-group {
  margin: 1.2rem 0; }

.form .form-text {
  display: block;
  margin-top: 0.6rem;
  color: #888; }

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
  border: 1px solid #ccc; }

.alert {
  padding: 0.6rem;
  margin: 0.8rem 0;
  font-size: 1.2rem;
  opacity: 0.9;
  transition: all 0.5s ease-out; }
  .alert-danger {
    background-color: red;
    color: white; }
  .alert-success {
    background-color: green;
    color: white; }

.campground-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  background-color: #fff;
  padding: 5rem;
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto; }
  .campground-detail img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .campground-detail .campground-description {
    align-self: center; }
    .campground-detail .campground-description h2 {
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: inline-block;
      padding: 0.6rem 1.2rem;
      margin-bottom: 2rem;
      font-size: 1.3rem; }
    .campground-detail .campground-description h1 {
      font-size: 3rem;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 2rem;
      text-transform: uppercase; }
    .campground-detail .campground-description p {
      font-size: 1.3rem;
      line-height: 2;
      margin-bottom: 1.5rem; }
    .campground-detail .campground-description .small-text {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.4); }

.comment-section {
  background-color: #2b709a;
  padding: 4rem; }
  .comment-section .comment-action {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem; }
  .comment-section .comment-group {
    max-width: 90vw;
    margin: 0 auto; }
    .comment-section .comment-group .comment {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      border: 1px solid white;
      padding: 2rem;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem; }
      .comment-section .comment-group .comment i {
        font-size: 2.5rem;
        color: #fff;
        margin-right: 2rem;
        margin-top: 0.5rem; }
      .comment-section .comment-group .comment .comment-detail h4 {
        font-size: 1.4rem;
        color: #82badc; }
      .comment-section .comment-group .comment .comment-detail p {
        font-size: 0.8rem;
        color: #fff;
        margin-bottom: 1rem; }
      .comment-section .comment-group .comment .comment-detail .btn {
        margin-right: 1rem; }
