$primary-color: #fff;
$secondary-color: #aad0e7;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}