@import 'config';
@import 'animations';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 67.5%;
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  // align-items: center;
  // justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  // display: inline-block;
  padding: 0.6rem 0.8rem;
  @include easeOut;

  &-primary {
    background-color: darken($secondary-color, 20);
    color: $primary-color;

    &:hover {
      background-color: darken($secondary-color, 5);
    }
  }

  &-invert {
    background-color: $primary-color;
    color: darken($secondary-color, 20);
  }

  &-danger {
    background-color: red;
    color: $primary-color;
  }

  &-sm {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }
}

header {
  background-color: black;
  width: 100%;
  height: 100vh;

  .title-text-box {
    color: white;
    position: absolute;
    top: 45%;
    left: 10%;
    z-index: 2;
    font-size: 3.5rem;
  }

  .campground-cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

  will-change: opacity;
  z-index: 0;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    );
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 1;
  }
}

.menu {
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  color: #fff;

  i {
    font-size: 2rem;
  }

  .menu-nav {
    display: flex;
    align-items: center;

    .nav-link {
      color: #fff;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-left: 1rem;
      font-weight: 700;
      padding: 0.6rem 0.8rem;
      border-radius: 4px;
      @include easeOut;

      &:hover {
        background-color: $secondary-color;
        color: darken($secondary-color, 40);
      }
    }
  }
}

#menu-dark {
  background-color: darken($secondary-color, 30);
  padding: 1rem 2rem;
  max-width: 100vw;
}

.section-campgrounds {
  position: relative;
  z-index: 20;
  background-color: white;
  color: black;
  padding: 5rem;
  text-align: center;

  img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    opacity: 1;
    transform: scale(1.15);
    transform-origin: bottom;
    height: 20rem;
    object-fit: cover;
    @include easeOut;

    &:hover {
      opacity: 0.8;
      transform: scale(1.03);
    }
  }

  h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-transform: uppercase;

    &:after {
      display: block;
      content: '';
      width: 10rem;
      height: 0.2rem;
      background-color: black;
      margin: 1rem auto;
    }
  }

  p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
  }

  .right-align {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .campgrounds {
    display: grid;
    max-width: 120rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 auto;

    .col-1-of-3 {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      overflow: hidden;
      position: relative;

      h3 {
        margin-top: 0.8rem;
        font-size: 2rem;
      }
    }
  }
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem 2rem;
}

.text-primary {
  font-size: 3rem;
  color: darken($secondary-color, 25);
}

.lead {
  font-size: 1.5rem;
  margin-left: 0;
}

.form {
  .form-group {
    margin: 1.2rem 0;
  }

  .form-text {
    display: block;
    margin-top: 0.6rem;
    color: #888;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
}

.alert {
  padding: 0.6rem;
  margin: 0.8rem 0;
  font-size: 1.2rem;
  opacity: 0.9;
  @include easeOut;

  &-danger {
    background-color: red;
    color: white;
  }

  &-success {
    background-color: green;
    color: white;
  }
}

.campground-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  background-color: $primary-color;
  padding: 5rem;
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .campground-description {
    align-self: center;

    h2 {
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.6);
      color: $primary-color;
      display: inline-block;
      padding: 0.6rem 1.2rem;
      margin-bottom: 2rem;
      font-size: 1.3rem;
    }

    h1 {
      font-size: 3rem;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.3rem;
      line-height: 2;
      margin-bottom: 1.5rem;
    }

    .small-text {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.4);
    }

    .edit-delete {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.comment-section {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4rem;

  .form {
    max-width: 50rem;
    margin: 0 auto;
  }

  .comment-group {
    max-width: 50rem;
    margin: 0 auto;

    .comment {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border: 1px solid white;
      padding: 2rem;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;

      i {
        font-size: 2.5rem;
        color: $primary-color;
        margin-right: 2rem;
        margin-top: 0.5rem;
      }

      .comment-detail {
        width: 70%;
        h4 {
          font-size: 1.6rem;
          color: darken($secondary-color, 10);
        }

        p {
          font-size: 1rem;
          color: $primary-color;
          margin-bottom: 1rem;
        }

        .btn {
          margin-right: 1rem;
        }
      }

      .time-ago {
        color: $primary-color;
        text-align: right;
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }
}

footer {
  background-color: darken($secondary-color, 30);
  color: $primary-color;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}
