@import 'config';
@import 'menu';
@import 'animations';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
  padding: 0;
  margin: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 110rem;
  margin: auto;
  overflow: hidden;
  padding: 2rem 2rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.lead {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sub-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.text-primary {
  font-size: 5rem;
  color: darken($secondary-color, 25);
  text-transform: uppercase;
}

.text-white {
  color: $primary-color !important;
}

.text-blue {
  color: darken($secondary-color, 30);
}

.btn {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.5rem;
  margin-right: 1rem;
  display: inline-block;
  outline: none;
  @include easeOut;

  &:hover {
    background-color: darken($secondary-color, 40);
    cursor: pointer;
  }

  &-primary {
    background-color: darken($secondary-color, 20);
    color: $primary-color;
  }

  &-danger {
    background-color: $danger-color;

    &:hover {
      background-color: darken($danger-color, 20);
    }
  }
}

.btn-sm {
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
}

.btn-lg {
  font-size: 2rem;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.6);
  color: $primary-color;
  font-size: 1.5rem;

  &-danger {
    background-color: $danger-color;
  }

  &-success {
    background-color: $success-color;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  will-change: opacity;
  z-index: 0;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    );
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
  }
}

header {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;

    h1 {
      color: $primary-color;
      font-size: 5rem;
      line-height: 1.2;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem 0rem 8rem;
  font-size: 2rem;
  position: relative;
  z-index: 1;

  .menu-nav {
    display: flex;
    .nav-item {
      margin-left: 2rem;

      .nav-link {
        padding: 1rem 2rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 700;

        @include easeOut;
        &:hover {
          background-color: white;
          color: darken($secondary-color, 40);
        }
      }
    }
  }
  a {
    color: #fff;
  }

  i {
    font-size: 3rem;
  }
}

.menu-dark {
  background-color: darken($secondary-color, 20);
  padding: 2rem 8rem !important;
}

.form {
  text-align: left;
  .form-group {
    margin: 1.2rem 0;
  }

  .form-text {
    display: block;
    margin-top: 0.6rem;
    color: #888;
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  height: 8rem;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.7);
  .section-header {
    &:after {
      background-color: $primary-color !important;
    }
  }
}

.comment-group {
  margin: 0 auto;

  .comment {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid $primary-color;
    padding: 2rem;

    img {
      width: 10%;
      margin-right: 2rem;
      margin-top: 0.5rem;
    }

    .comment-detail {
      width: 70%;
      text-align: left;
      overflow: hidden;
      word-wrap: break-word;

      .comment-author {
        font-size: 2rem;
        color: darken($secondary-color, 10);
      }
    }

    .time-ago {
      width: 20%;
      text-align: right;
    }
  }
}

.section-campgrounds {
  text-align: center;
  position: relative;

  .section-header {
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 4rem;

    &:after {
      content: '';
      width: 15rem;
      height: 2px;
      display: block;
      background-color: black;
      margin: 1rem auto;
    }
  }

  .campgrounds-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 2rem;
    position: relative;
    min-height: 30vh;

    .campground-badge {
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      overflow: hidden;

      .badge-info {
        padding: 1rem;
        padding-bottom: 2rem;
        .badge-title {
          font-size: 2rem;
          text-align: center;
          margin-bottom: 1.5rem;
        }
      }

      .badge-img {
        height: 25rem;
        object-fit: cover;
        transform: scale(1.15);
        transform-origin: bottom;
        @include easeOut;

        &:hover {
          opacity: 0.8;
          transform: scale(1.03);
        }
      }
    }
  }
}

.spinner {
  width: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.campground-header {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;

  .campground-header-title {
    position: absolute;
    top: 50vh;
    left: 10vw;
    color: $primary-color;
    font-size: 9rem;
    line-height: 1.2;
  }
}

.campground-detail-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  grid-template-areas: 'content image';
  overflow: hidden;
  padding: 8rem 0rem;
  max-width: 110rem;
  margin: 0 auto;
  align-items: center;

  .campground-detail-image {
    grid-area: image;
    height: 80rem;
    object-fit: cover;
  }

  .campground-detail-content {
    grid-area: content;
    justify-self: center;

    h2 {
      background-color: rgba(0, 0, 0, 0.8);
      display: inline-block;
      color: $primary-color;
      padding: 0.6rem 1.4rem;
      border-radius: 4px;
      font-size: 2rem;
    }
  }
}

.noti {
  position: fixed;
  top: 3rem;
  left: 10%;
  z-index: 10;
  font-weight: 700;
  width: 80%;
  padding: 1rem;
  padding-left: 3rem;
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.6);

  &-danger {
    background-color: $danger-color;
    color: $primary-color;
  }

  &-success {
    background-color: $success-color;
    color: $primary-color;
  }
}

.show {
  display: block !important;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  overflow: auto;
  padding-top: 20rem;
  background-color: rgba(0, 0, 0, 0.7);

  .modal-content {
    background-color: $primary-color;
    margin: 0 auto;
    max-width: 50rem;
    border-radius: 3px;
    padding: 1.5rem;

    .modal-title {
      font-size: 2rem;
      text-align: left;

      &:after {
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
      }
    }

    .modal-detail {
      margin-top: 1rem;
      font-size: 1.5rem;
      text-align: left;

      &:after {
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        height: 1px;
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

main {
  min-height: 100vh;
}

.form-wrapper {
  min-height: calc(100vh - 70px);
}

footer {
  position: relative;
  z-index: -1;
  height: 50px;
  background-color: darken($secondary-color, 20);
  text-align: center;
  padding-top: 22px;
  color: $primary-color;

  .sub-text {
    font-weight: 700;
    color: $primary-color;
  }
}

@import 'mobile';
